<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
<meta charset="UTF-8" />
<title>CLID - Product</title>
<link href="image/favicon.png" rel="icon" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="description" content="clean modern and elegant corporate look eCommerce html template">
<meta name="author" content="">
<!-- CSS Part Start-->
<link rel="stylesheet" type="text/css" href="css/stylesheet.css" />
<link rel="stylesheet" type="text/css" href="css/slideshow.css" media="screen" />
<link rel="stylesheet" type="text/css" href="css/flexslider.css" media="screen" />
<link rel="stylesheet" type="text/css" href="js/colorbox/colorbox.css" media="screen" />
<link rel="stylesheet" type="text/css" href="css/carousel.css" media="screen" />
<!-- CSS Part End-->
<!-- JS Part Start-->
<script type="text/javascript" src="js/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="js/jquery.nivo.slider.pack.js"></script>
<script type="text/javascript" src="js/jquery.flexslider.js"></script>
<script type="text/javascript" src="js/jquery.easing-1.3.min.js"></script>
<script type="text/javascript" src="js/jquery.jcarousel.min.js"></script>
<script type="text/javascript" src="js/colorbox/jquery.colorbox-min.js"></script>
<script type="text/javascript" src="js/tabs.js"></script>
<script type="text/javascript" src="js/cloud_zoom.js"></script>
<script type="text/javascript" src="js/jquery.dcjqaccordion.js"></script>
<script type="text/javascript" src="js/custom.js"></script>
<script type="text/javascript" src="js/html5.js"></script>
<!-- JS Part End-->
<!-- Google Fonts (Droid Sans) Start -->
<link href='//fonts.googleapis.com/css?family=Droid+Sans&v1' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=&v1' rel='stylesheet' type='text/css'>
<!-- Google Fonts (Droid Sans) End -->
</head>
<body>
<div class="wrapper-box">
  <div class="main-wrapper">
    <!--Header Part Start-->
    <header id="header">
      <div class="htop">
        <div class="links"> <a href="login.html">Login</a> <a href="register.html">Register</a> <a href="#">My Account</a></div>
      </div>
      <section class="hsecond">
        <div id="logo"><a href="index.html"><img src="image/clogo.png" title="Polishop" alt="Polishop" /></a></div>

        <!--Mini Shopping Cart Start-->
        <section id="cart">
        <div class="button-search"></div>
          <input type="text" name="search" placeholder="Search" value="" />
        </section>
        <!--Mini Shopping Cart End-->
        <div class="clear"></div>
      </section>
      <!--Top Menu(Horizontal Categories) Start-->
      <nav id="menu">
        <ul>
          <li class="home"><a title="Home" href="index.html"><span>Home</span></a></li>
          <li class="categories_hor"><a>Categories</a>
            <div>
              <div class="column"> <a href="category.html">Electronics</a>
                <div>
                  <ul>
                    <li><a href="category.html">IT Gadgets</a></li>
                  </ul>
                </div>
              </div>
              <div class="column"> <a href="category.html">Fashion</a>
                <div>
                  <ul>
                    <li><a href="category.html">Tops</a></li>
                    <li><a href="category.html">Bottoms</a></li>
                  </ul>
                </div>
              </div>
              <div class="column"> <a href="category.html">Sports</a>
                <div>
                  <ul>
                    <li><a href="category.html">Shoes</a></li>
                    <li><a href="category.html">Accessories</a></li>
                  </ul>
                </div>
              </div>
              <div class="column"><a href="category.html">Books</a>
                <div>
                  <ul>
                    <li><a href="category.html">Fiction</a></li>
                    <li><a href="category.html">Non-Fiction</a></li>
                    <li><a href="category.html">Horror</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </li>
          <li><a>My Account</a>
            <div>
              <ul>
                <li><a href="#">My Account</a></li>
                <li><a href="#">Bid History</a></li>
              </ul>
            </div>
          </li>
          <li><a href="contact-us.html">Contact Us</a></li>
        </ul>
      </nav>
      <!--Top Menu(Horizontal Categories) End-->
      <!-- Mobile Menu Start-->
      <nav id="menu" class="m-menu"> <span>Menu</span>
        <ul>
          <li class="categories"><a>Categories</a>
                        <div>
              <div class="column"> <a href="category.html">Electronics</a>
                <div>
                  <ul>
                    <li><a href="category.html">IT Gadgets</a></li>
                  </ul>
                </div>
              </div>
              <div class="column"> <a href="category.html">Fashion</a>
                <div>
                  <ul>
                    <li><a href="category.html">Tops</a></li>
                    <li><a href="category.html">Bottoms</a></li>
                  </ul>
                </div>
              </div>
              <div class="column"> <a href="category.html">Sports</a>
                <div>
                  <ul>
                    <li><a href="category.html">Shoes</a></li>
                    <li><a href="category.html">Accessories</a></li>
                  </ul>
                </div>
              </div>
              <div class="column"><a href="category.html">Books</a>
                <div>
                  <ul>
                    <li><a href="category.html">Fiction</a></li>
                    <li><a href="category.html">Non-Fiction</a></li>
                    <li><a href="category.html">Horror</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </nav>
      <!-- Mobile Menu End-->
    </header>
    <!--Header Part End-->
    <div id="container">
      <!--Middle Part Start-->
      <div id="content">
        <div class="breadcrumb"> <a href="index.html">Home</a> &raquo; <a href="#">Canon EOS 5D</a> </div>
        <h1>Canon EOS 5D</h1>
        <div class="product-info">
          <div class="left">
            <div class="image"><a href="image/product/canon_eos_5d_1-500x500.jpg" title="Canon EOS 5D" class="cloud-zoom colorbox" id='zoom1' rel="adjustX: 0, adjustY:0, tint:'#000000',tintOpacity:0.2, zoomWidth:360, position:'inside', showTitle:false"><img src="image/product/canon_eos_5d_1-350x350.jpg" title="Canon EOS 5D" alt="Canon EOS 5D" id="image" /><span id="zoom-image"><i class="zoom_bttn"></i> Zoom</span></a></div>
            <div class="image-additional"> <a href="image/product/canon_eos_5d_1-500x500.jpg" title="Canon EOS 5D" class="cloud-zoom-gallery" rel="useZoom: 'zoom1', smallImage: 'image/product/canon_eos_5d_1-350x350.jpg' "><img src="image/product/canon_eos_5d_1-350x350.jpg" width="62" title="Canon EOS 5D" alt="Canon EOS 5D" /></a> <a href="image/product/canon_eos_5d_3-500x500.jpg" title="Canon EOS 5D" class="cloud-zoom-gallery" rel="useZoom: 'zoom1', smallImage: 'image/product/canon_eos_5d_3-350x350.jpg' "><img src="image/product/canon_eos_5d_3-350x350.jpg" width="62" title="Canon EOS 5D" alt="Canon EOS 5D" /></a> <a href="image/product/canon_eos_5d_2-500x500.jpg" title="Canon EOS 5D" class="cloud-zoom-gallery" rel="useZoom: 'zoom1', smallImage: 'image/product/canon_eos_5d_2-350x350.jpg' "><img src="image/product/canon_eos_5d_2-350x350.jpg" width="62" title="Canon EOS 5D" alt="Canon EOS 5D" /></a> </div>
          </div>
          <div class="right">
            <div class="description"> <span>Brand:</span> <a href="#">Canon</a><br />
              <span>Product Code:</span> Product 3<br />
              <span>Availability:</span> In Stock<br />
              <span>Auction End Time:</span> 02:35:08</div>
            <div class="price">Price: <span class="price-new">$96.00</span> <br />
            </div>
            <div class="cart">
              <div>
                <div class="qty"> <strong>Bid Price ($):</strong> <a class="qtyBtn mines" href="javascript:void(0);">-</a>
                  <input id="qty" type="text" class="w30" name="quantity" size="2" value="1" />
                  <a class="qtyBtn plus" href="javascript:void(0);">+</a>
                  <input type="hidden" name="product_id" size="2" value="30" />
                  <div class="clear"></div>
                </div>
                <input type="button" value="Bid" id="button-cart" class="button" />
              </div>
            </div>
            <div class="review">
              <div><img src="image/stars-3.png" alt="2 reviews" />&nbsp;&nbsp;<a onClick="$('a[href=\'#tab-review\']').trigger('click');">0 reviews</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a onClick="$('a[href=\'#tab-review\']').trigger('click');">Write a review</a></div>
            </div>
          </div>
        </div>
        <!-- Description and Reviews Tab Start -->
        <div id="tabs" class="htabs"> <a href="#tab-description">Description</a> <a href="#tab-review">Reviews (5)</a> </div>
        <div id="tab-description" class="tab-content">
          <p><strong>Revolutionary multi-touch interface.</strong><br>
            iPod touch features the same multi-touch screen technology as iPhone. Pinch to zoom in on a photo. Scroll through your songs and videos with a flick. Flip through your library by album artwork with Cover Flow.</p>
          <p><strong>Gorgeous 3.5-inch widescreen display.</strong><br>
            Watch your movies, TV shows, and photos come alive with bright, vivid color on the 320-by-480-pixel display.</p>
          <p><strong>Music downloads straight from iTunes.</strong><br>
            Shop the iTunes Wi-Fi Music Store from anywhere with Wi-Fi.1 Browse or search to find the music youre looking for, preview it, and buy it with just a tap.</p>
          <p><strong>Surf the web with Wi-Fi.</strong><br>
            Browse the web using Safari and watch YouTube videos on the first iPod with Wi-Fi built in<br>
            &nbsp;</p>
        </div>
        <div id="tab-review" class="tab-content">
          <div id="review"></div>
          <h2 id="review-title">Write a review</h2>
          <br />
          <b>Your Name:</b><br />
          <input type="text" name="name" value="" />
          <br />
          <br />
          <b>Your Review:</b>
          <textarea name="text" cols="40" rows="8" style="width: 98%;"></textarea>
          <span style="font-size: 11px;"><span style="color: #FF0000;">Note:</span> HTML is not translated!</span><br />
          <br />
          <b>Rating:</b> <span>Bad</span>&nbsp;
          <input type="radio" name="rating" value="1" />
          &nbsp;
          <input type="radio" name="rating" value="2" />
          &nbsp;
          <input type="radio" name="rating" value="3" />
          &nbsp;
          <input type="radio" name="rating" value="4" />
          &nbsp;
          <input type="radio" name="rating" value="5" />
          &nbsp;<span>Good</span><br />
          <br />
          <b>Enter the code in the box below:</b><br />
          <input type="text" name="captcha" value="" />
          <br />
          <br />
          <img src="index.php?route=product/product/captcha" alt="" id="captcha" /><br />
          <br />
          <div class="buttons">
            <div class="right"><a id="button-review" class="button">Continue</a></div>
          </div>
        </div>
        <script>
  $(document).ready(function(){
  $('#tabs a').tabs();
  });
  </script>
        <!-- Description and Reviews Tab Start -->
      </div>
      <!--Middle Part End-->
      <div class="clear"></div>
    </div>
  </div>
    <!--Footer Part Start-->
  <footer id="footer">
    <div class="fpart-inner">

      <div class="column">
        
      <!-- Contact Details Start-->
      <div class="contact contact_icon">
        <h3>Contact Us</h3>
        <ul>
          <li class="address">Republic Polytechnic Pod E6</li>
          <li class="mobile">+65 9123 4567</li>
          <li class="email"><a href="mailto:info@contact.com">contact@clid.com</a></li>
        </ul>
      </div>
      <!-- Contact Details End-->
      <div class="clear"></div>
      <div id="powered">
        <!-- Payment Images Icon Start-->
        <div class="payments_types part3"> </div>
        <!-- Payment Images Icon End-->
        <!-- Powered by Text Start-->
        <div class="powered_text part3">
          <p>CLID Html Template © 2013<br />
            Template By: Team Source Code</a></p>
        </div>
        <!-- Powered by Text End-->

        <div class="clear"></div>
      </div>
      <!-- Back to Top Button Start-->
      <div class="back-to-top" id="back-top"><a title="Back to Top" href="javascript:void(0)" class="backtotop">Top</a></div>
      <!-- Back to Top Button End-->
    </div>
  </footer>
  <!--Footer Part End-->
</div>
</body>
</html>